.css-1s2u09g-control {
    margin-left: -116px;
    width: 68%;
    margin-bottom: 20px;
}
.css-1pahdxg-control{
    margin-left: -116px;
    margin-bottom: 20px;
    width: 68%;
}
.card-header {
    background-color:#1da1f2;
}