.css-1s2u09g-control{
    margin-left: -119px;
    width: 68%;
    margin-bottom: 26px;
}
.css-1pahdxg-control:hover{
    /* margin-left: -119px;
    width: 68%;
    margin-bottom: 26px; */
}
.css-6j8wv5-Input{
    margin-left: -119px;
    width: 68%;
    margin-bottom: 26px;
}
.css-14el2xx-placeholder{
/* margin-bottom: 30px; */
}
.css-319lph-ValueContainer{
    /* margin-bottom: 30px; */
}
